{{ template "chrome/header.html" . }}
<body  class="page-container" >
{{ template "chrome/navbar.html" . }}
<div class="wrapper">
  <div class="row">
    <!-- sidebar -->
    <div class="column col-sm-1" >
      {{ template "chrome/menu.html" . }}
    </div>
    <!-- /sidebar -->
    <!-- main -->
    <div class="column col-sm-11" >
      <section class="container">
        {{ if not .Params.notoc }}
        <div id="toc" >
          {{ .TableOfContents }}
        </div>
        {{ end }}
        <h1>{{ .Title }}</h1>
          {{ .Content }}
      </section>
    </div>
  </div>
</div>
{{ template "chrome/footer.html" . }}
